<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841360814435-j7qrrtm56qga659ib8jpsrf6pjltr21t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841360814435-j7qrrtm56qga659ib8jpsrf6pjltr21t</string>
	<key>API_KEY</key>
	<string>AIzaSyB1KaB5BLwHWY09CZTVXT8sW9oJF2afXiM</string>
	<key>GCM_SENDER_ID</key>
	<string>841360814435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ideal-duo.stem2022</string>
	<key>PROJECT_ID</key>
	<string>stem-2022</string>
	<key>STORAGE_BUCKET</key>
	<string>stem-2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841360814435:ios:2d288b680155bc56c52356</string>
</dict>
</plist>